public function get{{ methodName }}(): ?Tardigrades\SectionField\ValueObject\Slug
{
    if (!empty($this->{{ propertyName }})) {
        return Tardigrades\SectionField\ValueObject\Slug::fromString($this->{{ propertyName }});
    }
    return null;
}
